<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f1f1f1;
        }

        p, button {
            text-align: center;
            color: green;
        }
    </style>
</head>
<body>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>